################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tsm/v14
/tsm.VC.VC.opendb
/tsm.VC.db
*.user
/ipch
**/Release
**/Debug
*.log
/Log.log.*
*.aps
*.ods*
*.error
/test_tab4.json
/test_tab.json
/test.json
/.vs
*.vcxproj.filters
*.BAK
/test.json.txt
/StateMachineConsole.NET
/StateMachineUnitTest.NET
**/TestResult.xml
*.lnk
/setenv.bat
